.main{
    width: 60%;
    background-color: #EBECF1;
    border: 2px black solid;
    margin-top: 2px;
    margin-bottom: 2px;
}
.posts{
    display: flex;
    justify-items: center;
    margin: 0px 10px 0 10px;
}
.posts p{
    margin-left: 5px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}
img{
    width: 400px;
    height: 230px;
}